body {
  margin: 0;  /*overflow: hidden;*/
}

/*http://callmenick.com/post/slide-and-push-menus-with-css3-transitions*/
/*http://codepen.io/swirlycheetah/pen/cFtzb*/
/*http://sarasoueidan.com/blog/navicon-transformicons/*/
html {
  height: 100%;
}
.spin {
  height: 25px;
  width: 30px;
  cursor: pointer;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  overflow: hidden;
}
.spin:hover {
  -webkit-transform: rotate(360deg);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
	padding: 0 20px;
	width: 100%;
  height: 70px;
  background-color: #2980b9;
  color: #fff;
  /* box shadow mixin */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.title {
  margin-left: 20px;
  line-height: 70px;
  font-size: 32px;
}
.main {
  max-width: 500px;
  margin: 20px auto;
}
.sliding_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  background-color: #fff;
  overflow: hidden;
  width: 0;
  height: 0;
  z-index: 1000;
  transition: width 0.3s;
}

.sliding_menu.active_menu {
  margin-top: 70px;
  width: 280px;
  height: 100%;
 -webkit-box-shadow: 5px 0 5px -2px rgba(0,0,0,0.16);
}
.content {
  max-width: 500px;
  padding: 10px;
  margin: 100px auto;
}

.mask {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden;
  opacity: 0;
  z-index: 999;
  width: 0;
  height: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.mask.active_mask {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: opacity 0.3s;
}


/* navicon transformation testing */
.lines-button {
  display: inline-block;
  padding: 3.5rem/2 3.5rem/4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 3.5rem/7;
}

.lines-button:hover {
  opacity: 1;
}

.lines-button:active {
  transition: 0;
  background: rgba(0, 0, 0, .1);
}

