html {
  height: 100%;
  background-color: #ecf0f1;
}

body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(0, #ecf0f1 65%, $primary_color 35%);
  background-size: 100%;
  background-repeat: no-repeat;
}

main {
  display: block;
}

button {
  height: 45px;
  width: 150px;
  margin-bottom: 10px;
  background-color: $header_color;
  cursor: pointer;
  border: none;
  // outline: none;
  border-radius: 2px;
  text-align: middle;
  font-size: 18px;
  color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &:focus {
    // outline: 0;
  }
  &:hover {
    background-color: darken($header_color, 5%);
  }

  &:disabled {
    background-color: #95a5a6;
    cursor: default;
  }

}

.disable_scroll {
  overflow: hidden;
}

.copyright {
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 0 0 0 20px;
  width: 100%;
  height: $header_height;
  line-height: 2;
  background-color: $header_color;
  color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.title {
  margin-left: 20px;
  line-height: 70px;
  font-size: 32px;
  margin-right: 20px;
  cursor: default;
  width: 200px;
}

.nav_desktop {
  display: inline-block;
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.navigation_title {
  font-size: 16px;
  margin-right: 20px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  &:hover {
    color: #212121;
  }

}

.navigation_title a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: #212121;
}

.main {
  max-width: 900px;
  margin: 0 auto 0 auto;
  padding: 100px 0 20px 0;

  @media screen and (max-width: 590px) {
    padding-top: 90px;
  }
}

.project_header {
  font-size: 30px;
  color: $accent_color;
  margin: 0 auto 30px auto;
  height: 20px;

  @media screen and (max-width: 900px) {
    width: 90%;
  }
}

.card {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media screen and (max-width: 900px) {
    width: 90%;
  }
}

.card_content {
  padding: 35px;

  @media screen and (max-width: 600px) {
    padding: 15px;
  }
}

.card_line {
  margin-bottom: 15px;
}

.card_link {
  padding-top: 15px;
  margin: 15px 0 0 0;
  border-top: 1px solid #95a5a6;
}

.card_link a {
  text-decoration: none;
  color: $accent_color;
}

.card_image {
  width: 100%;
  max-height: 290px;
  overflow: hidden;
}

.card_image img {
  width: 100%;
}

.card_title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.card_spacer {
  height: 30px;
}

.portrait_container {
  width: 250px;
  margin: 0 auto 25px auto;
}

.portrait_container img {
  height: 250px;
  width: 250px;
  border: 0px solid black;
  border-radius: 150px;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sites_container {
  text-align: center;
  width: 280px;
  margin: 60px auto 0 auto;
  padding-bottom: 25px;
}

// .sites_container a {
//   margin: 0 10px 0 10px;
// }

// .sites_container img {
//   filter: grayscale(100%);
//   -webkit-filter: grayscale(100%);
// }

.contact_container {
  background-color: grey;
  display: inline-block;
  margin: auto;
}

.contact_header {
  font-size: 30px;
  color: $header_color;
}

.button_float {
  display: inline-block;
  background-color: $white;
  width: 55.5px;
  height: 55.5px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 15px;
  transition: 1s;
  -webkit-transition: 1s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    -tranform: translateY(-5px);
    -webkit-transform: translateY(-5px);
  }
}

.button_float i {
  font-size: 25px;
  line-height: 59.5px;
  color: $header_color;
}

.slide_up {
  animation-name: slide_up;
  -webkit-animation-name: slide_up;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slide_up {
  0% {
    // opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide_up {
  0% {
    // opacity: 0;
    -webkit-transform: translateY(15%);
  }
  100% {
    opacity: 1;
  }
}

.project_header {
  -webkit-animation: fade_in_left 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade_in_left 1s; /* Firefox < 16 */
  -ms-animation: fade_in_left 1s; /* Internet Explorer */
  -o-animation: fade_in_left 1s; /* Opera < 12.1 */
  animation: fade_in_left 1s;
}

.copyright {
  -webkit-animation: fade_in 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fade_in 4s; /* Firefox < 16 */
  -ms-animation: fade_in 4s; /* Internet Explorer */
  -o-animation: fade_in 4s; /* Opera < 12.1 */
  animation: fade_in 4s;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in_left {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_in_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10%);
  }
  100% {
    opacity: 1;
  }
}
