$header_color: #388E3C;
$primary_color: #4CAF50;
$accent_color: #1976D2;
$error_color: #c0392b;
$white: #fff;
$menu_icon_color: #fff;
$header_height: 70px;

@import "general";
@import "nav_drawer";
@import "input";
@import "borderbox";
